# Docs: https://github.com/seddonym/import-linter

[importlinter]
root_package = server
include_external_packages = True


[importlinter:contract:layers]
name = Layered architecture of our project
type = layers

containers =
  server.apps.pictures
  server.apps.identity

layers =
  (urls) | (admin)
  (views)
  (container)
  (logic)
  (infrastructure)
  (models)


[importlinter:contract:apps-independence]
name = All apps must be independent
type = independence

modules =
  server.apps.pictures
  server.apps.identity


[importlinter:contract:common-module-is-independent]
name = Common utilities cannot import things from apps
type = forbidden

source_modules =
  server.common

forbidden_modules =
  server.apps


[importlinter:contract:tests-restrictions]
name = Explicit import restrictions for tests
type = forbidden

source_modules =
  server

forbidden_modules =
  tests
