# All configuration for plugins and other utils is defined here.
# Read more about `setup.cfg`:
# https://docs.python.org/3/distutils/configfile.html


[flake8]
# flake8 configuration:
# https://flake8.pycqa.org/en/latest/user/configuration.html
format = default
show-source = false

[isort]
# isort configuration:
# https://github.com/PyCQA/isort/wiki/isort-Settings
profile = wemake
