{% extends 'common/_base.html' %}
{% load static %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<main>
  <div>
    <h1>Войти в личный кабинет</h1>

    <div>
      <p>Ещё нет личного кабинета?</p>
      <a href="{% url 'identity:registration' %}">
        Зарегистрироваться
      </a>
    </div>

    <div>
      {{ form.non_field_errors }}
    </div>

    <form
      action="{% url 'identity:login' %}"
      method="POST"
    >
      {% csrf_token %}

      {% include 'common/includes/field.html' with field=form.username field_label='Электронная почта' %}

      {% include 'common/includes/field.html' with field=form.password field_label='Пароль' %}

      <button type="submit">Войти</button>
    </form>
  </div>
</main>
{% endblock %}
