{% extends 'common/_base.html' %}

{% load static %}

{% block title %}
  Редактировать профиль
{% endblock title %}
{% block content %}
  <main>
    <div>
      <h1>Редактировать профиль</h1>
      <div>
        <div>{% include 'common/includes/messages.html' with messages=messages %}</div>
        <div>{{ form.non_field_errors }}</div>
      </div>
      {% url 'identity:user_update' as action %}
      {% include 'identity/includes/user_model_form.html' with form=form action=action button='Сохранить' %}
    </div>
  </main>
{% endblock content %}
