{% extends 'common/_base.html' %}

{% load static %}

{% block title %}
  Привет!
{% endblock title %}
{% block content %}
  <main>
    <h1>Добро пожаловать в домашнее задание в курсе по тестированию.</h1>
    <h2>В чем суть?</h2>
    <p>
      Тут мы делаем простое приложение:
      <ol>
        <li>Регистрация и логин пользователя</li>
        <li>Получение картинок из стороннего ресурса</li>
        <li>Возможность локально сохранять ссылки на самые любимые</li>
      </ol>
    </p>
  </main>
{% endblock content %}
