{% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}{% endblock title %}
    </title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
  </head>
  <body>
    <div>
      {% include 'common/includes/header.html' %}
      {% block content %}{% endblock content %}
    </div>
    {% include 'common/includes/footer.html' %}
  </body>
</html>
